.homepage {
  .heroContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 4.5rem;
    height: 100vh;
    width: 100%;

    .logoContainer {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 100vh;
      width: 100%;

      background-image: url('/logo-header.svg');
      background-position: bottom 0 left 0;
      background-size: contain;
      background-repeat: no-repeat;
    }

    @media (max-width: 1300px) {
      .logoContainer {
        width: 50%;
      }
    }

    @media (max-width: 600px) {
      .logoContainer {
        display: none;
      }
    }

    .helloContainer {
      display: flex;
      flex-direction: column;
      gap: 40px;
      margin-left: 40%;

      h1 {
        width: 90%;
      }

      h3 {
        font-variant: small-caps;
      }
    }

    .networks {
      display: flex;
      flex-direction: column;
      z-index: 1000;
      gap: 37px;

      a {
        color: var(--blue-500);
        font-size: 1.8rem;
      }
    }

    @media (max-width: 1024px) {
      .networks {
        display: flex;
        flex-direction: row;
        margin-left: 40%;
        margin-top: 30px;
      }
    }

    @media (max-width: 600px) {
      .helloContainer {
        margin-left: 0;
      }

      .networks {
        margin: 30px 0 0 0;
      }
    }
  }

  @media (max-width: 1024px) {
    .heroContainer {    
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  }

  @media (max-width: 600px) {
    .heroContainer {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  .projectsContainer {
    background: #107DFE;
    height: 100%;
    padding-top: 16em;
    padding-left: 3em;

    .projectSectionTitle {
      max-width: 300px;

      @media (max-width: 1024px) {
        margin: 0 auto;
        margin-bottom: 1.5rem;
        text-align: center;
      }

      h1, h2 {
        color: #f2f2f2;
      }

      h1 {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 1rem;
      }

      h2 {
        font-size: 1.125rem;
        font-weight: 400;
      }

      @media (max-width: 769px) {
        margin: 0 auto;
        text-align: center;
      }
    }

    @media (max-width: 1024px) {
      padding-top: 0;
      padding-left: 0;
    }

    .projects {
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;

      flex-grow: 1;
      margin: 0 auto;
      width: auto;
      position: sticky;
      top: 0;

      @media (min-width: 1024px) {
        margin: -12em 0 -3em;
        transform: rotateX(60deg) rotateY(0deg) rotate(-45deg) scale(1.125);
        transform-style: preserve-3d;
      }

      .project {
        margin: 1em;
        height: 100%;
        width: 100%;

        max-width: 842px;
        position: relative;
        transition-property: transform;
        transform-origin: center center;
        transition-duration: 300ms;

        .WWDProjectImage {
          background-image: url('/wwd.jpg');
          background-position: 50%;
          background-size: cover;
          padding-top: 62.5%;
          margin-bottom: 5rem;
          box-shadow: 0 2vh 5vw rgb(0 0 0 / 30%);
        }

        .LetMeAskProjectImage {
          background-image: url('/letmeask.jpg');
          background-position: 50%;
          background-size: cover;
          padding-top: 62.5%;
          margin-bottom: 2rem;
          box-shadow: 0 2vh 5vw rgb(0 0 0 / 30%);
        }

        .projectLink {
          height: 100%;
          width: 100%;
        }

        @media (min-width: 769px) {
          width: calc(50% - 2em);
        }
      }      
    }
  }

  .about {
    padding-top: 3em;
    background: #f2f2f2;

    span {
      font-variant: small-caps;
      font-size: 1.5rem;
    }

    .aboutContainer {
      width: 100%;
      max-width: 90vw;
      margin: 0 auto;

      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 3rem;

      @media (max-width: 1023px) {
        display: flex;
        flex-direction: column;
      }

      .content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        div {
          margin-top: 3rem;

          p {
            margin-bottom: 25px;
          }
        }
      }

      .image {
        flex: 1;
        
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  .contact {
    padding: 5rem 0 3rem 0;
    display: flex;
    flex-direction: column;
    text-align: center;

    span {
      font-size: 1.5rem;
      font-family: "Raleway", sans-serif;
      font-variant: small-caps;
      margin-bottom: 0.5em;
    }

    a {
      color: #107DFE;
    }
  }

  .skills {
    .skillsContainer {
      width: 100%;
      max-width: 90vw;
      margin: 0 auto;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}