.headerContainer {
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 4.625rem;

  @media (max-width: 455px) {
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2rem;
  }

  @media (max-width: 300px) {
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .headerContent {
    display: flex;
    height: 8.375rem;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 30px;

    a {
      text-decoration: none;
      color: var(--gray-500);
      padding-bottom: 1.25rem;
  
      font: 500 1.125rem Raleway;
      font-variant: small-caps;
      letter-spacing: 0.03em;
    }
  
    .headerActive {
      height: 100%;
      padding-left: 1.438rem;
      padding-right: 1.438rem;
      background: var(--blue-500);
      color: var(--white);
  
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }
  }

  @media (max-width: 455px) {
    .headerContent {
      display: flex;
      height: 8.375rem;
      align-items: flex-end;
      justify-content: flex-end;
      gap: 10px;

      a {
        text-decoration: none;
        color: var(--gray-500);
        padding-bottom: 1.25rem;
    
        font: 500 1.125rem Raleway;
        font-variant: small-caps;
        letter-spacing: 0.03em;
      }
    }
  }
}